/* ===== Configurações Globais ==== */

:root {
    --color-primary: #f00;
    --color-secondary: rgb(223, 134, 231);
    --color-tertiary: rgb(5, 20, 80);

    --color-green-light: rgb(83, 193, 83);

    --color-tertiary-light: rgb(102, 102, 229);
    --color-tertiary-faded: rgba(5, 20, 80, 0.502);

    --font-color-gray: rgb(48, 48, 48);

    --main-nav-height: 10vh;
    --mobile-nav-height: 10vh;
    --secondary-nav-height: 90vh;

    --footer-height: 5vh;

    --viewport-height: calc(
        100vh - var(--main-nav-height) - var(--footer-height)
    );

    --viewport-height-mobile: calc(100vh - var(--main-nav-height));

    --scrollbar-width: 7px;

    --general-width: calc(100vw - var(--scrollbar-width));
    --general-h-spacer: 1vw;
    --general-v-spacer: 1vh;

    --card-width: 30vw;
    --card-height: 50vh;

    --card-width-mobile: 80vw;
    --card-width-fullscreen: 27vw;

    /* Experience Scrollers */
    --scroll-item-ammount: 10;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background: var(--color-tertiary-light);
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

::-webkit-scrollbar-track {
    margin-block: var(--main-nav-height) var(--footer-height);
    margin-inline: var(--main-nav-height);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: "Roboto", sans-serif;
}

a {
    list-style: none;
    text-decoration: none;

    color: white;
}

html {
    scroll-snap-type: block mandatory;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
    justify-content: center; /* Talvez Flex-Start? */

    overflow-x: hidden;

    background: var(--color-tertiary);
}

.body-overflow {
    overflow: hidden;
    margin-right: var(--scrollbar-width);
}

/* ===== Loading Screen ==== */

.loader-wrapper {
    z-index: 10;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: var(--color-tertiary);
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid white;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* ===== LGPD ==== */

.lgpd {
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--color-tertiary);
    color: white;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.5s ease-in-out;
}

.lgpd p {
    text-align: center;
    width: fit-content;
}

.lgpd a {
    color: var(--color-secondary);
    text-transform: initial;
    text-decoration: underline;
}

.button-lgpd {
    width: 300px;
    height: 30px;

    margin-top: 2vh;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;

    transition: background-color 0.2s ease-in-out;
}

.button-lgpd:hover {
    cursor: pointer;

    background-color: white;
    color: var(--color-tertiary);
}

.lgpd-inactive {
    opacity: 0;
    pointer-events: none;
}

.lgpd-active {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

/* ===== Navbar Principal e Secundária ==== */

.nav-container {
    z-index: 4;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: var(--main-nav-height);

    padding-inline: 6vh;

    background-color: var(--color-tertiary);
}

.nav-primary {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 80%;
    height: 100%;
}

.nav-item-active {
    transition: color 0.3s ease-in-out;
    color: var(--color-tertiary-light);
}

.nav-item-active::before {
    width: 100% !important;
    transition: width 0.3s ease-in-out !important;
    background-color: var(--color-tertiary-light) !important;
}

.nav-primary ul,
.nav-primary li,
.nav-primary a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: auto;
    height: 100%;
}

.nav-primary a,
.nav-secondary a {
    text-align: center;
    position: relative;
    margin-inline: 1.2vw;

    font-size: 1.2vw;
    text-transform: uppercase;

    height: 60%;
}

.nav-primary a::before,
.nav-secondary a::before {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;

    width: 0;
    height: 0.3vw;
    background-color: white;
    transform-origin: center;

    transition: background-color 0.3s, width 0.3s;
}

.nav-primary a:hover::before,
.nav-primary a:focus::before,
.nav-secondary a:hover::before,
.nav-secondary a:focus::before {
    width: 100%;
    transition: width 0.3s;
    background-color: white;
}

.nav-secondary {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    justify-items: center;

    position: absolute;

    height: var(--secondary-nav-height);
    width: 100vw;

    top: var(--main-nav-height);
    left: 0;

    background-color: var(--color-tertiary);

    transition: transform 1s ease-in-out;
    transform: translateX(100vw);
}

.nav-secondary ul,
.nav-secondary li,
.nav-secondary a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.nav-secondary ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 100%;
    height: 100%;
}

.nav-secondary a {
    width: 25%;
    height: 25%;
    font-size: 24px;
}

.nav-secondary-active {
    transform: translateX(0);
}

/* logo */
.logo-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 25%;
    height: 100%;
}

.logo-placeholder {
    width: 4vh;
    height: 4vh;
}

.logo-placeholder img {
    width: 100%;
    height: 100%;
}

.logo-text {
    margin-inline: 1vw;
    color: white;
    font-size: 1.4vw;
    font-weight: 200;

    transition: color 0.3s, font-size 0.3s, font-weight 0.3s;
}

.logo-text:hover {
    color: var(--color-secondary);
    font-size: 1.5vw;
    font-weight: 300;

    cursor: pointer;
}

.alt-logo-text {
    display: none;
}

/* Menu Div */
.menu-div {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;
}

/* Lang Selector */
.lang-selector {
    max-width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    margin-inline: 2vw;
}

.lang-selector a {
    margin-inline: 4px;
    transition: color 0.3s ease-in-out;
}

.lang-selector a:hover {
    color: var(--color-secondary);
}

.lang-selector svg {
    flex-shrink: 0;
    fill: white;
    width: 20px;
    height: 20px;
}

.lang-divider {
    width: 2px;
    height: 16px;
    background-color: white;
}

.lang-selected {
    pointer-events: none;
}

.lang-unselected {
    color: gray;
}

/* burger styling */
.burger-class {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
    align-content: center;

    width: 5vh;
    height: 5vh;

    position: relative;

    cursor: pointer;
}

.burger-class > * {
    width: 3vh;
    height: 3px;
    border-radius: 2px;

    position: absolute;

    background-color: var(--color-tertiary-light);

    transition: transform 1s ease-in-out, opacity 0.8s ease-in-out,
        background-color 0.2s ease-in-out;
}

.burger-class :nth-child(1) {
    transform: translateY(-10px);
}

.burger-class :nth-child(2) {
    opacity: 1;
}

.burger-class :nth-child(3) {
    transform: translateY(10px);
}

.burger-class:hover > * {
    background-color: white;
}

.burger-active :nth-child(1) {
    transform: rotate(-45deg);
}

.burger-active :nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
}

.burger-active :nth-child(3) {
    transform: rotate(45deg);
}

/* ===== Conteúdo ==== */
.tooltips {
    background-color: white;
    color: var(--color-tertiary);
    border-radius: 5px;

    padding: 4px;
    margin: 8px;
    position: relative;
}

.tooltips::before {
    content: "";
    position: absolute;

    z-index: -1;

    width: 8px;
    height: 8px;

    background-color: white;
    transform: rotate(45deg);

    top: calc(50% - 4px);
    right: -4px;
}

main {
    height: auto;
    width: 100%;
    margin-top: var(--main-nav-height);
}

section {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    height: var(--viewport-height);

    margin-top: var(--main-nav-height);
    margin-bottom: var(--main-nav-height);

    scroll-behavior: smooth;
    scroll-margin-block: var(--main-nav-height) var(--footer-height);
    scroll-snap-align: center;

    overflow: hidden;
}

.section-text {
    z-index: 3;
    text-align: left;

    position: absolute;

    top: 0;
    left: var(--main-nav-height);

    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.section-text h1,
.section-text h2 {
    color: white;
    width: auto;
    height: auto;

    flex-shrink: 0;
}

.section-text h1 {
    font-size: 10vw;
    font-weight: 700;
}

.section-text h2 {
    font-size: 3vw;
    font-weight: 500;

    opacity: 60%;
}

.video-controller-container {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 4vh;
    width: 200px;
    height: 60px;

    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: center;

    border-radius: 5px;
    padding: 10px;

    opacity: 50%;
}

.video-controller-container button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.video-controller-container button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.video-controller-container button:hover svg {
    fill: white;
}

.video-controller-container svg {
    width: auto;
    height: 20px;

    border: none;
    margin: 5px;
    fill: var(--color-tertiary-light);
}

.video-ctrl-01-class svg {
    transform: translateX(1.5px);
}

.side-faders::before,
.side-faders::after {
    content: "";
    display: block;

    position: absolute;

    width: 20vw;
    height: 100%;

    background-image: linear-gradient(
        90deg,
        var(--color-tertiary) 30%,
        var(--color-tertiary-faded) 60%,
        transparent 100%
    );

    pointer-events: none;
}

.side-faders::before {
    left: 0;
    top: 0;

    z-index: 2;
}

.side-faders::after {
    right: 0;
    top: 0;

    z-index: 2;

    transform: rotate(180deg);
}

.side-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    width: 40%;
    height: 100%;

    background-image: linear-gradient(
        90deg,
        var(--color-tertiary) 50%,
        var(--color-tertiary-faded) 80%,
        transparent 100%
    );

    filter: contrast(80%) opacity(80%);

    pointer-events: none;
}

/* ===== Seção 1 ==== */
.section-001-class {
    border-radius: 20px;
    overflow: hidden;
}

.section-001-class .video-container {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
    justify-content: center;

    overflow: auto;
    overflow-x: hidden;

    scroll-snap-type: none;
    scroll-behavior: smooth;
}

.section-001-class .video-overlay {
    z-index: 1;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    position: absolute;

    background-color: white;
    filter: contrast(20%) opacity(50%);

    pointer-events: none;
}

.section-001-class .video-container video {
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    scroll-snap-align: start;
}

/* ==== Seção 2 ===== */

.section-002-class {
    flex-direction: column;
}

.product-text {
    position: static;
    width: 100%;
    height: auto;

    margin-top: 2vh;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.product-text h1,
.product-text h2 {
    position: static;
    width: auto;

    margin-left: 5vh;

    color: white;
}

.product-text h1 {
    font-size: 10vh;
    font-weight: 700;
}

.product-text h2 {
    font-size: 5vh;
    font-weight: 500;
    margin: 0;
    margin-top: 1vh;
    margin-left: 5vh;

    opacity: 60%;
}

.product-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    position: relative;
}

/* Backup do product-container

.product-container {
    z-index: 2;

    position: absolute;
    right: 20vw;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: calc(var(--card-width) + 2vw);
    height: 80%;

    overflow-y: visible;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;

    box-shadow: inset 0 5px 5px 5px var(--color-tertiary);
    background-color: transparent;
    perspective: 3500px;
}

*/

.product-container {
    z-index: 2;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    /* Esse overflow mata o flipcard-effect, essa div está explodindo 
    algo está maior do que pode */
    overflow-y: hidden;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;

    box-shadow: inset 0 5px 5px 5px var(--color-tertiary);
    background-color: transparent;
    perspective: 3500px;
}

/* Backup do Product Buttons

.product-buttons {
    z-index: 4;
    position: absolute;

    width: calc(var(--card-width) + 14vh);
    height: auto;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    right: 17.5vw;
    bottom: calc(50% - 3vh);
}

*/

.product-buttons {
    display: none;
}

.product-buttons button {
    width: 6vh;
    height: 6vh;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid white;

    color: white;

    background-color: var(--color-tertiary);

    cursor: pointer;
}

.product-buttons button:hover {
    background-color: white;
    color: var(--color-tertiary);
}

.product-buttons button:hover svg {
    fill: var(--color-tertiary);
}

.product-button-icon-1,
.product-button-icon-2 {
    height: 60%;
    fill: white;

    margin-inline: 3px;
}

.product-button-icon-1 {
    transform: translateY(1px) rotate(180deg);
}

.product-button-icon-2 {
    transform: translateY(1px);
}

.product-card {
    position: relative;
    cursor: grab;

    flex-shrink: 0;

    width: var(--card-width);
    height: 95%;

    margin-block: 1.5vw;
    margin-inline: 0.5vw;

    scroll-snap-align: center;
    scroll-margin: 0.5vw;

    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;

    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.8);
    background-color: transparent;
    border-radius: 10px;
}

.product-card-front,
.product-card-back {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    justify-items: center;
    align-items: center;

    backface-visibility: hidden;
    overflow: hidden;

    border-radius: 10px;
}

.product-card-front {
    background-color: var(--color-tertiary-light);
    justify-content: flex-end;

    overflow: hidden;
}

.front-robios {
    justify-content: center !important;
}

.product-info {
    position: absolute;
    top: 2vh;

    text-align: center;
    color: white;
}

.product-info h2 {
    font-size: 3vw;
    font-weight: 700;
}

.product-info h3 {
    font-size: 1.8vw;
    font-weight: 200;
    opacity: 60%;

    margin-top: -1vh;
}

.product-card-front img {
    width: 80%;
    height: auto;

    object-fit: cover;
}

.product-img-robo {
    width: auto !important;
    height: 90% !important;
}

.img-torta {
    transform: translateX(-12px);
}

.product-card-front button {
    position: absolute;
    bottom: 2vh;

    width: 50%;
    height: 5vh;

    border: 1px solid white;
    border-radius: 10px;

    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 200;

    transition: background-color 0.2s ease-in-out;
}

.product-card-front button:hover,
.product-card-front button:focus {
    border: 1px solid white;
    border-radius: 10px;

    cursor: pointer;

    background-color: white;
    color: var(--color-tertiary);
    font-size: 24px;
    font-weight: 200;
}

.product-card-back {
    z-index: 1;
    background-color: white;
    transform: rotateY(180deg);

    padding-inline: 45px;
}

/* Subtitulo da Parte de Trás */
.product-card-back h3 {
    margin-top: 2vh;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: var(--color-tertiary-light);

    margin-bottom: 2vh;
}

.product-card-back h4 {
    margin-top: -3vh;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: var(--color-tertiary-light);

    opacity: 60%;

    margin-bottom: 2vh;
}

/* Texto da Parte de Trás */
.product-card-back p {
    text-align: center;
    margin-bottom: 2vh;

    font-weight: 400;
    font-size: 16px;

    color: var(--font-color-gray);
}

/* Lista da Parte de Trás */

.product-card-back ul {
    width: 100%;
    max-height: 50%;
    overflow-y: scroll;

    margin-bottom: 8vh;
}

.product-card-back ul::-webkit-scrollbar {
    width: 10px;
}

.product-card-back ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.product-card-back li {
    margin-block: 0 1vh;
    font-size: 16px;
    font-weight: 200;

    color: var(--color-tertiary-light);
    list-style: none;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
}

.product-card-back li svg {
    margin: 0;
    margin-right: 1vw;
    height: 48px;
    width: auto;

    fill: var(--color-tertiary-light);
}

.product-btn-wrapper {
    position: absolute;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    width: 80%;
    height: auto;

    bottom: 2vh;
}

.product-card-back button,
.product-card-back a {
    position: relative;
    width: 40%;
    height: 4vh;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-tertiary);
    color: var(--color-tertiary);

    font-size: 18px;

    border-radius: 10px;

    transition: background-color 0.2s ease-in-out;
}

.btn-flip-back:hover {
    cursor: pointer;
    background-color: var(--color-tertiary-light) !important;
    color: white !important;
    border: none;
}

.btn-buy {
    background-color: var(--color-secondary) !important;
    color: white !important;
    border: var(--color-secondary) !important;
}

.btn-buy:hover {
    background-color: var(--color-green-light) !important;
    color: white !important;
    border: none;
}

.card-active {
    transform: rotateY(180deg);
}

.card-active .product-card-front {
    pointer-events: none;
}

.flip-btn-active {
    pointer-events: none;
}

/* Corrigir Side Faders após arrumar o product-wrapper 
.side-faders2::before,
.side-faders2::after {
    content: "";
    display: block;

    position: absolute;

    width: 5vw;
    height: 80%;

    background-image: linear-gradient(
        90deg,
        var(--color-tertiary) 60%,
        var(--color-tertiary-faded) 70%,
        transparent 100%
    );

    pointer-events: none;
}

.side-faders2::before {
    left: 49.5vw;

    z-index: 3;
}

.side-faders2::after {
    right: 17vw;

    z-index: 2;

    transform: rotate(180deg);
}
*/

/** ===== Seção 3 ===== */

.section-003-class {
    border-radius: 20px;
}

.solution-wrapper {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: flex-start;
}

.solution-text {
    z-index: 3;
    text-align: left;

    position: absolute;

    top: 0;
    left: var(--main-nav-height);

    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    text-align: left;
}

.solution-text a {
    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: flex-start;

    text-transform: capitalize;
}

.solution-text svg {
    fill: blueviolet;
    margin-right: 1vw;
    opacity: 60%;

    flex-shrink: 0;
}

.solution-text a:hover,
.solution-text a:focus {
    color: blueviolet;
}

.solution-text a:hover svg,
.solution-text a:focus svg {
    opacity: 100%;
}

.solution-text h2 {
    margin-block: 1vh;
    position: relative;
    color: blueviolet;

    width: auto !important;
}

.solution-text h2::before,
.solution-text h2::after {
    content: "";
    display: block;

    position: absolute;
    bottom: -1vh;
    left: auto;
    right: auto;

    width: 0px;
    height: 6px;
    background: blueviolet;
    transform-origin: center;
    transition: width 0.3s;
}

.solution-text h2:hover::before,
.solution-text h2:focus::before {
    width: 12vw;
    transition: width 0.3s;
}

.solution-active h2 {
    color: blueviolet !important;
    opacity: 100% !important;
}

.solution-active h2::before {
    width: 12vw !important;
    transition: width 0.3s !important;
}

.main-solution-text {
    width: 20vw;
    height: auto;
}

.solution-descriptions {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 25vw;

    margin-block: 2vh;
    margin-left: 2vw;
}

.solution-descriptions p {
    width: 100%;
    height: auto;

    color: white;
    font-size: 1.2vw;

    display: none;

    text-align: left;
}

.description-active {
    display: block !important;
}

.section-003-class .video-overlay {
    z-index: 1;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    position: absolute;

    background-color: white;
    filter: contrast(20%) opacity(50%);

    pointer-events: none;
}

.section-003-class .video-container {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-items: center;
    justify-content: start;

    overflow: auto;
    overflow-x: scroll;

    scroll-snap-type: start;
    scroll-behavior: smooth;
}

.section-003-class .video-container::-webkit-scrollbar {
    display: none;
}

.section-003-class video {
    width: 100%;
    height: 100%;

    flex-shrink: 0;

    scroll-snap-type: start;
    object-fit: cover;
}

/* ===== Seção 4 ===== */

.scroll-container {
    width: 100%;
    height: 30vh;

    position: absolute;

    display: flex;
    flex-direction: row;
}

.scroll1 {
    top: 10vh;

    animation: scroll_right 20s linear infinite;
}

.scroll2 {
    bottom: 10vh;

    animation: scroll_right 20s linear infinite reverse;
}

@keyframes scroll_right {
    0% {
        transform: translateX(
            calc(
                (-20vw * (var(--scroll-item-ammount))) +
                    (var(--scroll-item-ammount) * -4vw)
            )
        );
    }

    100% {
        transform: translateX(
            calc(
                (-20vw * (var(--scroll-item-ammount)) / 2) +
                    (var(--scroll-item-ammount) / 2 * -4vw)
            )
        );
    }
}

@keyframes scroll_left {
    0% {
    }

    100% {
    }
}

.scroll-item {
    width: 20vw;
    height: 30vh;

    margin-inline: 2vw;

    background-color: var(--color-tertiary-light);

    flex-shrink: 0;
    border-radius: 10px;
}

.experience-text {
    top: 26vh;
    left: 5vw;
    text-align: left;

    width: 40vw;
}

/* ===== Seção 5 ===== */
.contato-text {
    position: static;
}

.form-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    height: 100%;
    width: 35%;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: 40%;
}

form > * {
    width: 100%;
    height: 100%;

    background-color: transparent;
    color: white;
    border: 1px solid white;

    padding: 10px;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.first-input {
    border-radius: 10px 10px 0 0;
}

form button {
    border-radius: 0 0 10px 10px;
    color: var(--color-tertiary);
    background-color: white;
    font-weight: 400;
    font-size: 16px;

    transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

form button:hover,
form button:focus {
    cursor: pointer;
    transform: scale(105%);
    border-radius: 10px 10px 10px 10px;
}

form select {
    color: white;
    opacity: 0.5;
}

form select :first-child {
    color: white;
    opacity: 0.5;
}

form option {
    color: var(--color-tertiary);
    opacity: 0.5;
    background-color: white;
    font-size: 14px;
}

.contato-whats {
    width: 100%;
    height: 100px;

    border-radius: 20px;
    background-color: white;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin-top: 2vh;
    padding: 1vw;

    color: var(--color-tertiary);

    transition: transform 0.2s ease-in-out;
}

.contato-whats svg {
    width: auto;
    height: 80%;

    fill: var(--color-tertiary);

    margin-right: 1vw;
}

.contato-whats p {
    font-size: 18px;
    font-weight: 400;

    text-transform: none;
}

.contato-whats:hover {
    cursor: pointer;
    transform: scale(105%);
}

/* ===== Seção 6 ===== */

.sobre-text {
    width: 80vw;
}

/* ===== Seção 7 ===== */

.faq-content {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    width: auto;
    height: 100%;
}

.faq-text {
    position: static;
    width: 40%;
}

.accordion-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: flex-start;

    overflow-y: scroll;

    height: auto;
    width: 50vw;

    color: white;
}

.accordion-wrapper hr {
    width: 100%;
    height: 1px;

    background-color: white;
    opacity: 0.5;
}

.accordion-wrapper .container {
    margin: 10px 10px;
}

.accordion-wrapper .label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1vh;
}

/* ===== Rodapé ===== */

footer {
    z-index: 3;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    padding-inline: 6vh;

    width: 100vw;
    height: 5vh;

    background-color: var(--color-tertiary);
}

.social-media-icons {
    display: flex;
    flex-direction: row;

    width: auto;
    height: 100%;

    align-items: center;
    align-content: center;
}

.social-media-icons a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 3.5vh;
    height: 3.5vh;

    margin-inline: 1vh;

    border-radius: 50%;
    background-color: white;
}

.social-media-icons a:hover,
.social-media-icons a:focus {
    background-color: var(--color-tertiary);
    border: 1px solid white;
}

.social-media-icons a:hover svg,
.social-media-icons a:focus svg {
    fill: white;
}

.social-media-icons svg {
    width: auto;
    height: 50%;

    fill: var(--color-tertiary);
}

.icone-whats {
    background-color: var(--color-green-light) !important;
}

.direitos-reservados {
    margin-inline: 10vw;
    color: white;
}

.desenvolvido-por p {
    color: white;
}

.desenvolvido-por a {
    color: var(--color-tertiary-light);
}

/* ===== Media Queries ==== */
@media screen and (min-width: 1500px) {
    .nav-primary a,
    .nav-secondary a {
        font-size: 1vw;
    }
}

@media screen and (max-width: 1000px) {
    .body-overflow {
        overflow: hidden;
        margin-right: 0;
    }

    .nav-container {
        justify-content: space-around;
        padding-inline: 1vw;
    }

    .logo-container {
        width: auto;
    }

    .logo-container p {
        font-size: 24px;
    }

    .logo-text {
        display: none;
    }

    .alt-logo-text {
        display: block;

        margin-inline: 1vw;
        color: white;
        font-size: 20px;
        font-weight: 200;

        text-align: center;
    }

    .menu-div {
        width: auto;
    }

    .lang-selector {
        display: none;
    }

    .nav-secondary {
        height: var(--viewport-height-mobile);
    }

    .nav-secondary a {
        width: 60%;
        height: 50%;
        font-size: 24px;
    }

    section {
        margin-top: var(--main-nav-height);
        height: var(--viewport-height-mobile);
        margin-bottom: 0;
        scroll-behavior: smooth;
        scroll-margin-block: var(--main-nav-height) 0;
        scroll-snap-align: center;

        flex-direction: column;
    }

    .side-overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 60%;

        background-image: linear-gradient(
            var(--color-tertiary) 50%,
            var(--color-tertiary-faded) 80%,
            transparent 100%
        );

        filter: contrast(80%) opacity(80%);

        pointer-events: none;
    }

    .section-text {
        z-index: 3;
        text-align: left;

        position: static;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-text h1 {
        font-size: 15vw;
        font-weight: 700;
        color: white;
    }

    .section-text h2 {
        font-size: 5vw;
        font-weight: 700;
        color: white;

        width: 90%;
    }

    .header-text {
        position: absolute;
        top: -25%;
    }

    .header-text h1 {
        font-size: 80px;
        text-align: left;
    }

    .product-text {
        height: auto;
        width: 100%;

        align-items: center;
        justify-content: flex-start;
        text-align: center;

        left: 0;
    }

    .product-text h1 {
        margin: 0;
    }

    .product-text h2 {
        margin: 0;
    }

    .product-container {
        width: 100%;
        height: 95%;

        justify-content: flex-start;
    }

    .product-card {
        width: var(--card-width-mobile);
        height: 95%;

        margin-block: 1vw;
        margin-inline: 1vw;

        scroll-snap-align: center;
        scroll-margin: 1vw;

        border-radius: 10px;
    }

    .product-card-front {
        justify-content: center;
    }

    .product-info h2 {
        font-size: 36px;
        font-weight: 700;
    }

    .product-info h3 {
        font-size: 18px;
        font-weight: 200;
        opacity: 60%;

        margin-top: -1vh;
    }

    .product-card-back {
        padding-inline: 15px;
    }

    .product-card-back h3 {
        font-size: 36px;
    }

    .product-card-back h4 {
        font-size: 22px;
    }

    .product-card-back p {
        font-size: 14px;
    }

    .product-card-back li {
        font-size: 12px;
    }

    .product-card-back li svg {
        flex-shrink: 0;

        margin-right: 5vw;
    }

    .product-card-back button,
    .product-card-back a {
        font-size: 16px;
    }

    .nav-primary {
        display: none;
    }

    .video-container {
        width: 100%;
        height: 100%;

        position: relative;

        overflow: hidden;
    }

    .video-overlay {
        z-index: 1;
        width: 100%;
        height: 95vh;
        top: 0;
        position: absolute;
        background-color: white;
        filter: contrast(30%) opacity(30%);
    }

    .video-container video {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .solution-text {
        position: absolute;
        top: 10%;
        left: 0;

        align-items: flex-start;
        justify-content: flex-start;
        padding-left: var(--main-nav-height);
    }

    .solution-text h2:hover::before,
    .solution-text h2:focus::before {
        width: 100px;
    }

    .solution-active h2::before {
        width: 100px !important;
    }

    .solution-descriptions {
        display: none;
    }

    .scroll1 {
        top: 5vh;
    }

    .scroll2 {
        bottom: 5vh;
    }

    .scroll-item {
        width: 40vw;
        height: 30vh;

        margin-inline: 2vw;

        background-color: var(--color-tertiary-light);

        flex-shrink: 0;
        border-radius: 10px;
    }

    @keyframes scroll_right {
        0% {
            transform: translateX(
                calc(
                    (-40vw * (var(--scroll-item-ammount))) +
                        (var(--scroll-item-ammount) * -4vw)
                )
            );
        }

        100% {
            transform: translateX(
                calc(
                    (-40vw * (var(--scroll-item-ammount)) / 2) +
                        (var(--scroll-item-ammount) / 2 * -4vw)
                )
            );
        }
    }

    .contato-text {
        position: static;

        height: auto;
        width: 100%;

        flex-direction: column;

        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

    form {
        height: 70%;
    }

    .contato-whats {
        padding: 5vw;
    }

    .contato-whats svg {
        margin-right: 5vw;
    }

    .faq-text {
        height: auto;
    }

    .form-container {
        position: static;

        width: 80vw;
        height: 75%;

        justify-content: flex-end;
    }

    .faq-content {
        position: static;

        width: 100%;
        height: auto;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;

        overflow: hidden;

        margin-top: 2vh;
    }

    .accordion-wrapper {
        position: static;

        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: flex-start;

        height: 100%;
        width: 100%;

        color: white;

        overflow-y: scroll;
    }

    .accordion-wrapper .container {
        position: static;
    }

    footer {
        display: none;
    }
}

/* ===== Classes Operacionais ==== */
